main {
  height: auto;
  overflow: visible;
  overflow-x: hidden;
  display: flex;
}
.container {
  height: auto;
  min-height: 100%;
}
.panel {
  min-width: 50%;
}
.panel--avatar {
  min-width: auto;
}
.panel--form {
  padding: 64px 20px;
}
.entry {
  width: 100%;
  margin: 0 0 21px ;
  flex-direction: column;
}
.entry__parameter {
  width: 100%;
}
.entry__parameter--field::before {
  top: 7px;
}
.entry__parameter:nth-child(2) {
  height: 32px;
  line-height: 32px;
}
