main {
  height: auto;
  overflow: visible;
  overflow-x: hidden;
  display: flex;
}
.panel {
  min-width: 50%;
}
.panel--avatar {
  min-width: auto;
}
.panel--form {
  padding: 64px 20px;
}
.profile-form__entry {
  width: 100%;
  margin: 0 0 21px ;
}
.profile-form__field:nth-child(1),
.profile-form__field:nth-child(2) {
  width: 100%;
  display: block;
}

.profile-form__field:nth-child(1) {
  height: 32px;
  line-height: 32px;
}

.profile-form__field {
  width: 100%;
}

