main {
  width: 1360px;
  height: 892px;
}
.panel {
  width: calc(100% - 553px);
  height: 100%;
}
.panel--avatar {
  width: 553px;
  padding: 112px 98px;
}
.panel--form {
  padding: 112px 156px;
}
.form__info {
  padding: 161px 124px;
}
.panel__heading {
  line-height: 43px;
  font-size: 36px;
}
.panel__text {
  line-height: 1.53;
  font-size: 18px;
}
.panel__text.avatar__brief {
  line-height: 1.26;
  font-size: 22px;
}
