main {
  margin: 66px auto;
}
.panel {
  height: 100%;
  width: calc(100% - 392px);
}
.panel--avatar {
  width: 392px;
  max-width: 50%;
}
.panel--info {
  transform: translateX(-100%);
  transition: 0.25s all ease-in-out;
}
input[name=view]:checked + .container .panel--info {
  transform: translateX(0);
}

