label[for=Male] {
  background: #f5f8f9 url(../assets/male.svg) no-repeat;
  background-size: 25px 25px;
  background-position: calc(50% + 1px) calc(50% + 1px);
}

label[for=Male]::before {
  background: #babfcd url(../assets/male-solid.svg) no-repeat;
  background-size: 25px 25px;
  background-position: calc(50% + 1px) calc(50% + 1px);
}

label[for=Female] {
  background: #f5f8f9 url(../assets/female.svg) no-repeat;
  background-size: 22px 30px;
  background-position: 50% calc(50% + 1px);
}

label[for=Female]::before {
  background: #babfcd url(../assets/female-solid.svg) no-repeat;
  background-size: 22px 30px;
  background-position: 50% calc(50% + 1px);
}

label[for=Classic],
label[for=Silver],
label[for=Gold] {
  background: #f5f8f9 url(../assets/card.svg) no-repeat;
  background-size: 27px 19px;
  background-position: calc(50% + 1px) 50%;
}

label[for=Classic]::before,
label[for=Silver]::before,
label[for=Gold]::before {
  background: #babfcd url(../assets/card-solid.svg) no-repeat;
  background-size: 25px 25px;
  background-position: calc(50% + 1px) 50%;
}


